body{
    height: 100vh;
    width: 100%;
    background-color: rgb(15,15,15);
    margin: 0px;
    overflow-y: hidden;
}

*{
    box-sizing: border-box;
    min-width: 0;
    min-height: 0;
}

nav{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    position: fixed;
    padding-top: 1rem;
    padding-bottom: 1rem;
    animation: right-in 1250ms ease-in-out;
}

ul{
    display: flex;
    gap: 3rem;
}

li{
    list-style: none;
    font-family: 'Raleway', sans-serif;
}

a{
    text-decoration: none;
    color: rgb(255, 245, 240);
    font-weight: 700;
    position: relative;
}

.Japan{
    color: grey;
    opacity: 0.5;
    transition: opacity 0.5s, color 0.5s;
}

.Japan:hover{
    color: rgb(255, 245, 240);
    opacity: 1;
}

.Japan:after{
    content: "";
    position: absolute;
    height: 3px;
    background-color: rgb(255, 245, 240);
    width: 0;
    left: 0;
    bottom: -10px;
    transition: 0.3s;
}

.Japan:hover:after{
    width: 100%;
}

#image-carousel{
    display: flex;
    gap: 5vmin;
    position: absolute;
    left: 50%;
    top: 21.5%;
    padding-right: 50vw;
    animation: slide-in 1250ms ease-in-out;
}

#image-carousel .image{
    width: 40vmin;
    height: 56vmin;
    object-fit: cover;
    object-position: center;
}

#image-carousel .img-txt{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

span{
    margin-top: 1rem;
    color: rgb(255, 245, 240);
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 18px;
}

@keyframes pulse {
    from, to {
      scale: 1;
    }
    
    50% {
      scale: 1.08;
    }
}

img:hover{
    animation: pulse 1000ms ease-in-out;
}

@keyframes slide-in{
    0% {
        opacity: 0;
        transform: translateY(250px);
      }
      75% {
        opacity: 0.35;
      }
      100% {
        transform: translateY(0);
        opacity: 1;
      }
}

@keyframes right-in{
    0% {
        opacity: 0;
        transform: translateX(250px);
      }
      75% {
        opacity: 0.35;
      }
      100% {
        transform: translateX(0);
        opacity: 1;
      }
}